dj_artur.json
{
  "name": "dj_artur",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "339943be-a10f-4749-8329-5e5b0322b7da",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1280,
        1424
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "pSkUcpXodfHSbUPj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a35cb340-5917-4981-9627-6c6189a0a0f4",
              "name": "Track ID",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3e4c3c9-7c39-457f-821a-588108b5a80d",
      "name": "Get track IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        2496,
        1200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "name": "={{ $json.output.playlistName }}",
        "additionalFields": {
          "public": true,
          "description": "={{ $json.output.description }}"
        }
      },
      "id": "79061ff4-a47d-430e-b964-80a3bf3945b5",
      "name": "Create playlist",
      "type": "n8n-nodes-base.spotify",
      "position": [
        1616,
        1200
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      },
      "notes": "Create a blank playlist with the chosen name."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Playlist guidelines\n\n{{ $json['Playlist guidelines'] }}\n\n\n# Number of songs to include\n\n{{ $json['Number of tracks'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\n\nYou are a world-class DJ and music curator. Your task is to craft a playlist of exactly {{ $json['Number of tracks'] }} tracks, give it a great name and a short description, based on the user message which contains the playlist instructions (vibe, genre, mood, artists, occasion...) and the number of tracks to include.\n\n# How to choose the {{ $json['Number of tracks'] }} tracks\n\n- Recommend an interesting, cohesive yet non-repetitive mix of EXACTLY {{ $json['Number of tracks'] }} tracks that nails the user's request.\n- Never repeat the same track, and avoid using the same artist more than once unless the instructions explicitly ask for a single-artist playlist.\n- Every artist and song MUST really exist and be findable on Spotify. Prefer well-known, correctly-titled official releases and avoid obscure remixes, live bootlegs or mislabeled versions that may not be on Spotify. Use the exact official artist name and track title.\n- Match the language and region of the request: if the user writes in Portuguese or asks for Brazilian/Latin music, favor artists and songs from that scene; do the same for any other culture or language.\n- Unless told otherwise, mix eras and styles a little to keep it fresh while staying true to the requested vibe.\n\n# Track ORDER matters\n\nThe tracks will be added to the playlist in the exact order you list them. Sequence them like a real DJ set: open strong, build and vary the energy across the set, and finish on a fitting note. Avoid two very similar tracks back-to-back.\n\n# How to craft the playlist title\n\nThe playlist name should be 5 to 9 words, catchy and a perfect fit for a real playlist. If the user gave direct instructions for the title, follow them. Match the user's language.\n\n# How to craft the description\n\nWrite one short, punchy sentence (max ~20 words) describing the vibe of the playlist, in the user's language.\n\n# Strict output format:\n\nHere's an example of your output so you have a good idea of the schema of the JSON output and a little idea of how the values can look like in the case of a 5-track playlist (but adapt the values to the user message!):\n\n\n{\n  \"playlistName\":\"Summer dancing with a Spritz and attitude\",\n  \"description\":\"Upbeat summer anthems to dance to with a drink in hand.\",\n  \"tracks\":[\n      {\n         \"artist\":\"David Guetta, Sia\",\n         \"title\":\"Beautiful People\"\n      },\n      {\n         \"artist\":\"Ed Sheeran\",\n         \"title\":\"Azizam\"\n      },\n      {\n         \"artist\":\"Doechii\",\n         \"title\":\"Anxiety\"\n      },\n      {\n         \"artist\":\"OneRepublic\",\n         \"title\":\"Nobody (from Kaiju No.8)\"\n      },\n      {\n         \"artist\":\"The Weeknd\",\n         \"title\":\"Cry For Me\"\n      }\n   ]\n}\n\n\n"
            }
          ]
        }
      },
      "id": "983f116f-9542-469e-8e09-7da7fe510c5b",
      "name": "Ideate playlist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1248,
        1200
      ],
      "retryOnFail": true,
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "fieldToSplitOut": "Tracks",
        "options": {}
      },
      "id": "b82072f8-6326-4a13-871d-6bfe31e88ed3",
      "name": "Split out tracks",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2048,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c03ede2c-3d1a-4b94-ba72-d9ac518300d3",
              "name": "Tracks",
              "type": "array",
              "value": "={{ $('Ideate playlist').item.json.output.tracks }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a6bc27b-77a0-4140-9169-c169f7d63f73",
      "name": "Get tracks array",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        1200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "a46ab606-6c84-4d48-bec6-cccac01c36d3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1232,
        704
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "pSkUcpXodfHSbUPj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "🎧 E aí! Sou o DJ do Artur.\nMe diz um estilo, clima ou ocasião — por exemplo: \"pop dos anos 2000 pra treinar\", \"MPB tranquila pra trabalhar\" ou \"funk pra festa\" — que eu monto uma playlist personalizada pra você no Spotify! 🎶",
        "options": {
          "subtitle": "Sua playlist personalizada, na hora.",
          "title": "DJ do Artur 🎧"
        }
      },
      "id": "26b67f87-659e-4e4c-a205-4b3d93288825",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1056,
        384
      ],
      "webhookId": "e91b8adb-5fad-4414-aaae-fefd42178283",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "contextWindowLength": 6
      },
      "id": "27e65e5e-a9cf-4a02-89a5-c392ca4307e3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1520,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Playlist guidelines"
            },
            {
              "name": "Number of tracks",
              "type": "number"
            }
          ]
        }
      },
      "id": "21e3ed29-0a45-4d70-9aa5-b61f696491aa",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1040,
        1200
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "=spotify:playlist:{{ $('Create playlist').first().json.id }}",
        "trackID": "=spotify:track:{{ $json[\"Track ID\"] }}",
        "additionalFields": {}
      },
      "id": "d506e762-782e-4bc2-bbf6-c3d1b44c5bf1",
      "name": "Add track to playlist",
      "type": "n8n-nodes-base.spotify",
      "position": [
        2720,
        1200
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"playlistName\":\"Summer dancing with a Spritz and attitude\",\n  \"description\":\"Upbeat summer anthems to dance to with a drink in hand.\",\n  \"tracks\":[\n      {\n         \"artist\":\"David Guetta, Sia\",\n         \"title\":\"Beautiful People\"\n      },\n      {\n         \"artist\":\"Ed Sheeran\",\n         \"title\":\"Azizam\"\n      },\n      {\n         \"artist\":\"Doechii\",\n         \"title\":\"Anxiety\"\n      },\n      {\n         \"artist\":\"OneRepublic\",\n         \"title\":\"Nobody (from Kaiju No.8)\"\n      },\n      {\n         \"artist\":\"The Weeknd\",\n         \"title\":\"Cry For Me\"\n      }\n   ]\n}\n"
      },
      "id": "b1c48119-9e70-4424-8bad-34a347275ca8",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1392,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a spotify assistant and are logged in to a spotify player.\n\n# Capacities\n\nYou have 2 sets of capacities, one is about controling the Spotify player of the user (play, pause, next) and one about managing playlist (creating, searching, playing).\n\n## Resume the player\n\nIf the user seems to ask you to resume the spotify player, use the tool \"Resume player\".\n\n## Pause the player\n\nIf the user seems to ask you to pause the spotify player, use the tool \"Pause player\"\n\n## Playing the next song\n\nIf the user is asking you to play the next song, use the tool \"Next song\" to play it in the user's Spotify player.\n\n\n## Creating a new playlist\n\nIf the user asks to create a new playlist, use the tool \"Create new playlist\" and pass the right guidelines so the playlist can be created. If you feel like you could use some more details from the user before creating it, feel free to ask or to ask to confirm what you had in mind before calling the tool.\nWhen you're done, it's always nice to inform the user about what has been put in.\n\n\n## Finding the user's current playlist\n\nIt can be useful to find the user's current playlists for example when they ask to play a previously created playlist for which you don't have the ID anymore (as the ID is required to play a playlist).\nTo achieve that, use the tool \"Get user playlists\".\n\n\n## Play a playlist\n\nTo play a playlist, you need to have the exact ID of the playlist to play which might require to call specific tools and once you have it you will call the tool \"Play a playlist\" and pass the right ID.\nNB: if the user asks you to play a playlist you had created in the previous message, you'll have to call the tool to find the user's playlist to get the ID of that playlist to play it.\n\n\n# Additional guidelines\n\nIt can happen that the user request requires to use multiple tools in a chain. For example if you're asked about playing a new playlist to create, you'll first create that playlist (using the right tool) and then play it (tool call) based on the ID received after creating that playlist.\nBe smart about managing those cases to provide the smoothest experience.\n\nIf you're not sure about the action you're supposed to do, feel free to suggest to ask for confirmation (but only do that when it's not clear - otherwise, execute).\n\n\n# Output tone and guidelines\n\nAs a Spotify assistant, your answers are concise, friendly, and only include the right level of information (don't mention playlist or track IDs but rather mention names, artists, authors when needed).\n\nAlways reply in the same language the user writes in (for example, reply in Portuguese if they write in Portuguese). When you present a freshly created playlist, share its name, a couple of highlight tracks and, when available, the public link so the user can open it."
        }
      },
      "id": "b7e89f85-4ad3-4675-bcec-06573f708842",
      "name": "Spotify Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1520,
        384
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "get",
        "id": "=spotify:playlist:{{ $('Create playlist').item.json.id }}"
      },
      "id": "ac1dcb16-a396-4d7f-b8f4-a3a4b5825fec",
      "name": "Get the final playlist",
      "type": "n8n-nodes-base.spotify",
      "position": [
        2928,
        1200
      ],
      "executeOnce": true,
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The Get Playlist node returns an array, so we take the first item.\nconst playlistData = items[0].json;\n\n// Extract the playlist ID, name, and the direct public URL.\nconst playlistId = playlistData.id;\nconst playlistName = playlistData.name;\nconst publicUrl = playlistData.external_urls.spotify;\n\n// Create a simplified array of tracks.\nconst tracks = playlistData.tracks.items.map(item => {\n  return {\n    trackName: item.track.name,\n    artist: item.track.artists[0].name,\n    album: item.track.album.name,\n    uri: item.track.uri\n  };\n});\n\n// Return a new object with the final, simplified structure.\nreturn [{\n  json: {\n    playlistId,\n    playlistName,\n    publicUrl,\n    tracks\n  }\n}];"
      },
      "id": "58581a2e-d7c1-45a7-bca7-c81ef11e6361",
      "name": "Clean data to share with agent",
      "type": "n8n-nodes-base.code",
      "position": [
        3152,
        1200
      ],
      "notesInFlow": true,
      "typeVersion": 2,
      "notes": "This code simplifies the schema of the playlist we've just created to ensure that the AI agent gets clean information to process, balancing between context token savings and context."
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Play a playlist based on its ID (don't call this tool until you have the Spotify ID of the playlist to play - this can require using other tools before).",
        "operation": "startMusic",
        "id": "=spotify:playlist:{{ $fromAI('playlist_ID', `The exact ID of the playlist to play`, 'string') }}"
      },
      "id": "8769da3a-d7dc-4c4c-b80d-1f0360ab8b08",
      "name": "Play a playlist",
      "type": "n8n-nodes-base.spotifyTool",
      "position": [
        1712,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to pose the player",
        "operation": "pause"
      },
      "id": "7054d5c8-97a0-45e9-8473-c9da361f3d07",
      "name": "Pause player",
      "type": "n8n-nodes-base.spotifyTool",
      "position": [
        1840,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to resume the player",
        "operation": "resume"
      },
      "id": "a28c277d-4c52-40ba-baac-e0539951fa88",
      "name": "Resume player",
      "type": "n8n-nodes-base.spotifyTool",
      "position": [
        1952,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to play the next song",
        "operation": "nextSong"
      },
      "id": "61d01ce7-fbf6-4471-8f1e-05690592c644",
      "name": "Next song",
      "type": "n8n-nodes-base.spotifyTool",
      "position": [
        2080,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the user's playlists in Spotify",
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "id": "6d5b125c-9be0-4020-8fe5-17a4653bc5ca",
      "name": "Get user playlists",
      "type": "n8n-nodes-base.spotifyTool",
      "position": [
        2192,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get a playlist creator to create a playlist for the user if the user manifested the need to create a new playlist.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "PuNFGX6C0QCHB4cq",
          "cachedResultName": "TEMPLATE - Spotify agent"
        },
        "workflowInputs": {
          "value": {
            "Number of tracks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_tracks', `The number of tracks to include in the playlist. If no indication was given by the user, default to 10.`, 'number') }}",
            "Playlist guidelines": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Playlist_guidelines', `Guidelines to help the playlist creator create this playlist. Keep it short, but include anything important to be able to create this playlist based on what the user requested (vibe, genre, artists if mentioned, etc).`, 'string') }}"
          },
          "schema": [
            {
              "id": "Playlist guidelines",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Playlist guidelines",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Number of tracks",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "Number of tracks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "95b32527-6992-4e04-b029-72b12eb424df",
      "name": "Create new playlist",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        2320,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.artist }} - {{ $json.title }}",
        "limit": 1,
        "filters": {}
      },
      "id": "c212fc80-f3c7-4af7-a684-7263786b5cf6",
      "name": "Search the track",
      "type": "n8n-nodes-base.spotify",
      "position": [
        2272,
        1200
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "miADC8MfM0OhXSbd",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat trigger and interface",
        "height": 300,
        "width": 260,
        "color": 7
      },
      "id": "28f5c61a-e68a-480a-8397-07859e22bfec",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Agent tools",
        "height": 280,
        "width": 760,
        "color": 7
      },
      "id": "4d5cf43a-adbf-48b7-9d03-6829ebc3df06",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI agent tools\n\nThis agent is the engine of the workflow. Its system instructions define how to call the different tool to interact with Spotify",
        "height": 280,
        "width": 760,
        "color": 7
      },
      "id": "808d74d1-2cb5-40a1-a676-48ed0b96eb2f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI step to plan the playlist\n\nThis AI node decides for the tracks to include into the playlist and choses the playlist name.",
        "height": 500,
        "width": 300,
        "color": 7
      },
      "id": "c732f125-979f-4b7a-a6cd-c0da989e3f35",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Playlist creation sub-workflow",
        "height": 660,
        "width": 2400,
        "color": 7
      },
      "id": "eaa0799a-c0e4-47d6-95ab-5f6f22d4cd58",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## For each track\nEach track gets searched in Spotify to get their specific IDs to then add them one by one to the playlist.",
        "height": 320,
        "width": 840,
        "color": 7
      },
      "id": "ff704841-7686-485b-b53f-afb220c809a5",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        1072
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Next song": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pause player": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get track IDs": {
      "main": [
        [
          {
            "node": "Add track to playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume player": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create playlist": {
      "main": [
        [
          {
            "node": "Get tracks array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideate playlist": {
      "main": [
        [
          {
            "node": "Create playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Play a playlist": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get tracks array": {
      "main": [
        [
          {
            "node": "Split out tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search the track": {
      "main": [
        [
          {
            "node": "Get track IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out tracks": {
      "main": [
        [
          {
            "node": "Search the track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get user playlists": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Ideate playlist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create new playlist": {
      "ai_tool": [
        [
          {
            "node": "Spotify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add track to playlist": {
      "main": [
        [
          {
            "node": "Get the final playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the final playlist": {
      "main": [
        [
          {
            "node": "Clean data to share with agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ideate playlist",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Spotify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Ideate playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "nodeGroups": [],
  "tags": []
}